{% extends 'main/examp.html' %}

{% block content %}
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ flats.title }}</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img class="loadedPhotos" src="{{ flats.cover1.url }}">
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <img class="loadedPhotos" src="{{ flats.cover2.url }}">
                    <img class="loadedPhotos mt-4" src="{{ flats.cover3.url }}">
                </div>
                <div class="col-md-6 col-lg-3 d-none d-md-block">
                    <img class="loadedPhotos" src="{{ flats.cover4.url }}">
                    <img class="loadedPhotos mt-4" src="{{ flats.cover5.url }}">
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <p>{{ flats.full_text }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}