{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>Turkish Home</title>
    <link href="{% static 'main/css/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <style>
                .services {
                    background-image: url("{% static 'main/img/alanya.svg' %}");
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .slider#f1 {
                    background-image: url("{% static 'main/img/bFlat1.svg' %}");
                }
                .slider#f2 {
                    background-image: url("{% static 'main/img/bFlat2.svg' %}");
                }
                .slider#f3 {
                    background-image: url("{% static 'main/img/bFlat3.svg' %}");
                }
                .slider#f4 {
                    background-image: url("{% static 'main/img/bFlat4.svg' %}");
                }

                .slider#c1 {
                    background-image: url("{% static 'main/img/bCom1.svg' %}");
                }
                .slider#c2 {
                    background-image: url("{% static 'main/img/bCom2.svg' %}");
                }
                .slider#c3 {
                    background-image: url("{% static 'main/img/bCom3.svg' %}");
                }
                .slider#c4 {
                    background-image: url("{% static 'main/img/bCom4.svg' %}");
                }

                .slider#cr1 {
                    background-image: url("{% static 'main/img/bCar1.svg' %}");
                }
                .slider#cr2 {
                    background-image: url("{% static 'main/img/bCar2.svg' %}");
                }
                .slider#cr3 {
                    background-image: url("{% static 'main/img/bCar3.svg' %}");
                }
                .slider#cr4 {
                    background-image: url("{% static 'main/img/bCar4.svg' %}");
                }

                .aplicForm {
                    background-image: url("{% static 'main/img/aplicationForm.svg' %}");
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .slick-prev{
                    width: 40px;
                    height: 40px;
                    background: url("{% static 'main/img/left.svg' %}") 0 0 / 100% no-repeat;
                }

                .slick-next.slick-arrow{
                    width: 40px;
                    height: 40px;
                    background: url("{% static 'main/img/right.svg' %}") 0 0 / 100% no-repeat;
                }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>

<body class="body-main">
    <script src="{% static 'main/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{% static 'main/js/slick.min.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>

    <header class="header">
        <div class="nav">
            <div class="container justify-content-center d-flex align-items-center">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <a href="{% url 'main' %}">
                            <img class="graficlogo d-none d-md-block align-items-center" src="{% static 'main/img/logoHead.svg' %}"
                                alt="logo">
                            <img class="graficlogo d-md-none align-items-center" src="{% static 'main/img/offLogoTest.svg' %}" alt="logo">
                        </a>
                    </div>
                    <div class="btnsMenu col-md-5 col-lg-4 col-sm-7 col-9 justify-content-between d-flex align-items-center">
                        <button class="btnConsult">
                            <a href="#aplicForm"><img class="graficlogo" src="{% static 'main/img/btnConsult.svg' %}" alt="contacts"></a>
                        </button>

                        <button class="btnContacts">
                            <a href="#contactUs"><img class="graficlogo" src="{% static 'main/img/btnContacts.svg' %}" alt="contacts"></a>
                        </button>

                         <button class="btnContacts">
                            <a href="#"><img class="graficlogo" src="{% static 'main/img/person.svg' %}" alt="contacts"></a>
                        </button>
                            {% if user.is_authenticated %}
                                <li>User: {{ user.get_username }}</li>
                                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                           {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>

        <!-- картинка главной странички -->

        <section class="mainlogo mt-5">
            <div class="container justify-content-center d-flex align-items-center">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <img class="w-100" src="{% static 'main/img/turkhome.svg' %}" alt="main page photo">
                    </div>
                </div>
            </div>
        </section>

        <!-- кнопки по услугам -->

        <section class="services mt-5">

            <div class="container justify-content-center d-flex align-items-center">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 justify-content-center d-flex align-items-center mt-5">
                        <h1>НАШИ УСЛУГИ</h1>
                    </div>
                    <div class="col-md-6 col-12 justify-content-center d-flex align-items-center">
                        <dl class="mt-5">
                            <dt>
                                <a href="flats/"><img src="{% static 'main/img/btnRentFlat.svg' %}" alt="rent flat"></a>
                            </dt>
                            <dt>
                                <a href="#"><img src="{% static 'main/img/btnRentCar.svg' %}" alt="rent car"></a>
                            </dt>
                            <dt>
                                <a href="#"><img src="{% static 'main/img/btnCom.svg' %}" alt="commercy"></a>
                            </dt>
                            <dt>
                                <a href="new"><img src="{% static 'main/img/btnFirst.svg' %}" alt="new real estate"></a>
                            </dt>
                            <dt>
                                <a href="#"><img src="{% static 'main/img/btnSec.svg' %}" alt="secondary real estate"></a>
                            </dt>
                            <dt>
                                <a href="#"><img src="{% static 'main/img/btnTravel.svg' %}" alt="travel"></a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </section>

        <!-- инфа об услугах -->

        <section class="infoclass mt-5">
            <div class="container justify-content-center d-flex align-items-center">
                <div class="row">
                    <div class="info col-xxl-3 col-lg-6 col-12 mt-4">
                        <h2>помощь с ипотекой</h2>
                        <hr>
                        <h3>подбор банка на выгодных для вас условиях</h3>
                    </div>
                    <div class="info col-xxl-3 col-lg-6 col-12 mt-4">
                        <h2>оценка недвижимости</h2>
                        <hr>
                        <h3>экспертиза выбранной вами недвижимости</h3>
                    </div>
                    <div class="info col-xxl-3 col-lg-6 col-12 mt-4">
                        <h2>сопровождение сделок</h2>
                        <hr>
                        <h3>сопровождение с создания заявки до завершения сделки</h3>
                    </div>
                    <div class="info col-xxl-3 col-lg-6 col-12 mt-4">
                        <h2>инвестирование</h2>
                        <hr>
                        <h3>подбор выгодных вариантов инвестирования</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- квартиры -->

        <section class="mt-5">
            <hr>
            <h1 id="nameOfBlock" class="justify-content-center d-flex align-items-center">недвижимость</h1>
            <div class="mt-5 justify-content-between d-flex align-items-center">
                <hr class="reel">
                <h2 class="variants">квартиры</h2>
                <hr class="reel">
            </div>
            <div class="flats mt-1 mt-md-4">

                <div class="slider_main">
                    <div class="slider" id="f1">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat1v1.svg' %}" alt="ID 15020">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat1v2.svg' %}" alt="ID 15020">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat1v3.svg' %}" alt="ID 15020">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat1v4.svg' %}" alt="ID 15020">
                        </div>
                    </div>
                    <div class="slider" id="f2">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat2v1.svg' %}" alt="ID 15001">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat2v2.svg' %}" alt="ID 15001">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat2v3.svg' %}" alt="ID 15001">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat2v4.svg' %}" alt="ID 15001">
                        </div>
                    </div>
                    <div class="slider" id="f3">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat3v1.svg' %}" alt="ID 15019">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat3v2.svg' %}" alt="ID 15019">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat3v3.svg' %}" alt="ID 15019">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat3v4.svg' %}" alt="ID 15019">
                        </div>
                    </div>
                    <div class="slider" id="f4">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat4v1.svg' %}" alt="ID 15002">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat4v2.svg' %}" alt="ID 15002">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat4v3.svg' %}" alt="ID 15002">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/flat4v4.svg' %}" alt="ID 15002">
                        </div>
                    </div>
                </div>

                <div class="mt-3 justify-content-center d-flex align-items-center">
                    <div class="arrows w-50 justify-content-between d-flex align-items-center"></div>
                </div>
            </div>
        </section>
        <div class="container mt-3 justify-content-center d-flex align-items-center">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-3 justify-content-center d-flex">
                    <a href="#"><img class="seeMore" src="{% static 'main/img/all.svg' %}" alt="see more"></a>
                </div>
            </div>
        </div>

        <!-- коммерческая недвижимость -->

        <section class="mt-5">
            <div class="justify-content-between d-flex align-items-center">
                <hr class="reel">
                <h2 class="variants">коммерческая недвижимость</h2>
                <hr class="reel">
            </div>
            <div class="commercy mt-1 mt-md-4">
                <div class="slider_main_com">
                    <div class="slider" id="c1">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com1v1.svg' %}" alt="MAHALL OBA">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com1v2.svg' %}" alt="MAHALL OBA">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com1v3.svg' %}" alt="MAHALL OBA">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com1v4.svg' %}" alt="MAHALL OBA">
                        </div>
                    </div>
                    <div class="slider" id="c2">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com2v1.svg' %}" alt="LINA BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com2v2.svg' %}" alt="LINA BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com2v3.svg' %}" alt="LINA BAZAAR">
                        </div>
                    </div>
                    <div class="slider" id="c3">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com3v1.svg' %}" alt="SOHO BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com3v2.svg' %}" alt="SOHO BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com3v3.svg' %}" alt="SOHO BAZAAR">
                        </div>
                    </div>
                    <div class="slider" id="c4">
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com4v1.svg' %}" alt="MILA BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com4v2.svg' %}" alt="MILA BAZAAR">
                        </div>
                        <div class="slider__item">
                            <img class="slide" src="{% static 'main/img/com4v3.svg' %}" alt="MILA BAZAAR">
                        </div>
                    </div>
                </div>

                <div class="mt-3 justify-content-center d-flex align-items-center">
                    <div class="arrows_com w-50 justify-content-between d-flex align-items-center"></div>
                </div>

            </div>
        </section>
        <div class="container mt-3 justify-content-center d-flex align-items-center">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-3 justify-content-center d-flex">
                    <a href="#"><img class="seeMore" src="{% static 'main/img/all.svg' %}" alt="see more"></a>
                </div>
            </div>
        </div>

        <!-- оставить заявку -->

        <section id="aplicForm" class="aplicForm mt-5">
            <div class="container justify-content-center d-flex align-items-center">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 justify-content-center d-flex align-items-center">
                        <dl class="provide">
                            <dt>
                                <h1>Подберeм лучшее предложение для вас!</h1>
                            </dt>
                            <dt class="vectorInfo d-flex align-items-center">
                                <img class="vector" src="{% static 'main/img/vector.svg' %}">
                                <h2 class="vectorText">24/7 МЫ НА СВЯЗИ<br>включая выходные и праздничные дни</h2>
                            </dt>
                            <dt class="vectorInfo d-flex align-items-center">
                                <img class="vector" src="{% static 'main/img/vector.svg' %}">
                                <h2 class="vectorText">2000+ ОБЪЕКТОВ<br>в месяц в нашей базе недвижимости</h2>
                            </dt>
                            <dt class="vectorInfo d-flex align-items-center">
                                <img class="vector" src="{% static 'main/img/vector.svg' %}">
                                <h2 class="vectorText">5 ЭКСПЕРТОВ<br>с высшим образованием и опытом от 5 лет</h2>
                            </dt>
                            <dt class="vectorInfo d-flex align-items-center">
                                <img class="vector" src="{% static 'main/img/vector.svg' %}">
                                <h2 class="vectorText">90% КЛИЕНТОВ<br>рекомендуют нас</h2>
                            </dt>
                        </dl>
                    </div>
                    <div class="col-md-6 col-12 justify-content-center d-flex align-items-center">
                        <!-- форма обратной связи -->
                        <form action="#" class="form">
                            <h3 id="titleForm">Запишитесь на бесплатную консультацию,<br>
                                мы сами с вами свяжемся</h3>
                            <!-- Каждый input для выравнивания вкладываем в блок input-box -->
                            <div class="input-box justify-content-center d-flex align-items-center">
                                <input type="text" placeholder="Ваше имя" />
                            </div>
                            <div class="input-box justify-content-center d-flex align-items-center">
                                <input type="text" placeholder="Введите email" />
                            </div>
                            <div class="input-box justify-content-center d-flex align-items-center">
                                <input type="text" placeholder="Введите телефон" />
                            </div>
                            <div class="input-box message-box justify-content-center d-flex align-items-center">
                                <textarea placeholder="Сообщение"></textarea>
                            </div>
                            <div class="button justify-content-center d-flex align-items-center">
                                <input type="button" value="Отправить" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <!-- автомобили -->

        <section class="mt-5">
            <div class="justify-content-between d-flex align-items-center">
                <hr class="reel">
                <h2 class="variants">авто</h2>
                <hr class="reel">
            </div>

            <div class="cars mt-1 mt-md-4">
                <div class="slider_main_cars">
                    <div class="slider justify-content-center d-flex align-items-center" id="cr1">
                        <!-- <div class="slider__item"> -->
                            <img class="slide" src="{% static 'main/img/car1.svg' %}" alt="car1">
                        <!-- </div> -->
                    </div>
                    <div class="slider justify-content-center d-flex align-items-center" id="cr2">
                        <!-- <div class="slider__item"> -->
                            <img class="slide" src="{% static 'main/img/car2.svg' %}" alt="car2">
                        <!-- </div> -->
                    </div>
                    <div class="slider justify-content-center d-flex align-items-center" id="cr3">
                        <!-- <div class="slider__item"> -->
                            <img class="slide" src="{% static 'main/img/car3.svg' %}" alt="car3">
                        <!-- </div> -->
                    </div>
                    <div class="slider justify-content-center d-flex align-items-center" id="cr4">
                        <!-- <div class="slider__item"> -->
                            <img class="slide" src="{% static 'main/img/car4.svg' %}" alt="car4">
                        <!-- </div> -->
                    </div>
                </div>
                <div class="mt-3 justify-content-center d-flex align-items-center">
                    <div class="arrows_car w-50 justify-content-between d-flex align-items-center"></div>
                </div>
            </div>
        </section>
        <div class="container mt-3 justify-content-center d-flex align-items-center">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-3 justify-content-center d-flex">
                    <a href="#"><img class="seeMore" src="{% static 'main/img/all.svg' %}" alt="see more"></a>
                </div>
            </div>
        </div>

        <!-- контактная инормация -->

        <div id="contactUs" class="contactUs mt-5 d-flex justify-content-center align-items-center">
            <h2 class="shadow-none text-white">Контактная информация</h2>
        </div>
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 justify-content-center d-flex align-items-center">
                        <p>+905070509605<br>
                            cirahhusein8@gmail.com<br>
                            Uğur Apartmanı, Oba, Yaşar, Oba Mahallesi, Uğur Sk.<br>
                            No:10, 07460, 07460 Alanya/Antalya, Турция
                        </p>
                    </div>
                    <div class="col-md-6 col-12 justify-content-between d-flex align-items-center" id="listContact">
                        <ul class="justify-content-between d-flex w-100">
                            <li><a href="mailto:cirahhusein8@gmail.com"><img class="contactIcon" src="{% static 'main/img/mailButton.svg' %}" alt="mail"></a></li>
                            <li><a href="https://wa.me/905070509605"><img class="contactIcon" src="{% static 'main/img/whatsappButton.svg' %}" alt="whatsapp"></a></li>
                            <li><a href="tel:+905070509605"><img class="contactIcon" src="{% static 'main/img/phoneButton.svg' %}" alt="call"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- карта -->

        <iframe class="mt-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.7375561946187!2d32.05173987551014!3d36.5363254723235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14dc99734bd003ad%3A0xd58c6b46bf156592!2zVcSfdXIgQXBhcnRtYW7EsQ!5e0!3m2!1sru!2sru!4v1686770407171!5m2!1sru!2sru" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        <p class="d-flex justify-content-center">©2023 by Turkish Home.</p>
    </footer>
</body>

</html>